[submodule "dependencies/shacl"]
	path = dependencies/shacl
	url = ../../scl/shacl.git
	branch = master
[submodule "dependencies/Catch2"]
	path = dependencies/Catch2
	url = ../../catchorg/catch2.git
	branch = master
[submodule "dependencies/mpark_variant"]
	path = dependencies/mpark_variant
	url = ../../mpark/variant.git
	branch = master
